<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">-->
    <body ng-app="myApp" ng-controller="todoCtrl">

        <div ng-style="myObj">
            <h2>My Family History List</h2>

            <form ng-submit="todoAdd()">
                <input type="text" ng-model="person" size="20" placeholder="Person">
                <input type="text" ng-model="father" size="20" placeholder="Father">
                <input type="text" ng-model="mother" size="20" placeholder="Mother">

                <input type="submit" value="Add New">
            </form>

            <!--<br><div class="divider"></div>-->

            <div ng-repeat="x in todoList" ng-style="list">
                <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
            </div>

            <p><button ng-click="remove()">Remove marked</button></p>
        </div>

            <script>
                var app = angular.module('myApp', []);
                app.controller('todoCtrl', function($scope) {
                    $scope.todoList = [{todoText:'Frank Jones, Billy Jones, Millie Smith', done:false}];

                    $scope.todoAdd = function() {
                        $scope.todoList.push({todoText:$scope.person + ', ' + $scope.father + ', ' + $scope.mother, done:false});
                        $scope.person = "";
                        $scope.father = "";
                        $scope.mother = "";
                    };

                    $scope.myObj = {
                        "color" : "white",
                        "background-color" : "coral",
                        "font-size" : "40px",
                        "padding" : "50px"
                    }

                    $scope.list = {
                        "font-size" : "20px",
                        "padding-top" : "10px"
                    }

                    $scope.remove = function() {
                        var oldList = $scope.todoList;
                        $scope.todoList = [];
                        angular.forEach(oldList, function(x) {
                            if (!x.done) $scope.todoList.push(x);
                        });
                    };
                });
            </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    </body>
</html>